.question_wrapper {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.question_wrapper > div ul li {
  font-size: 12x;
  line-height: 25px;
  color: #3b4045;
}


.question_wrapper > div:nth-child(1) div {
  /* color: blue; */
  font-size: 18px;
  padding-left: 20px;
}

.question_wrapper > div:nth-child(2) div:nth-child(1) {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.go {
  text-align: center;
  cursor: pointer;
  width: auto;
  color: orange;
  /* background-color: lightblue; */
}

.question_form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 30px;
  border-radius: 8px;
  box-shadow: 8px 12px 12px rgba(158, 158, 158, 0.12);
}

.question_form_container form {
  width: 90%;
}

#input,
textarea {
  width: 100% !important;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 20px;
  /* background-color: red; */
}

#input {
  padding-block: 10px;
  margin-bottom: 20px;
  color: rgb(33, 37, 41);
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

textarea {
  height: 200px;
  outline: none;
  padding-top: 20px;
}
#input:focus{
  border: 2px solid gray;
}
textarea:focus{
  border: 2px solid gray;
}
.question_form_container form button {
  border: none;
  color: #fff;
  background-color: #516cf0;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.question_form_container form button:hover {
  background-color: #fe8303;
}

.disperror {
  font-size: 18px !important;
  color: lightcoral;
  padding-bottom: 8px;
}


@media (max-width: 460px) {
  .question_wrapper > div:nth-child(1) {
    font-size: 13px;
    padding-left: 25px;
  }
}


.question-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f7f7;
}

.question-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-steps {
  /* Optional: Simulating list-style-type: none behavior */
  counter-reset: step-counter;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.step .bullet-icon {
  color: blue; /* Adjust icon color */
  font-size: 4.5em;  
  margin-right: 10px; /* Adjust spacing between icon and text */
  line-height: 12px; /* Adjust line height */
}
